body {
    background-color: #bef2ff !important;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.login-container {
    text-align: center;
    padding: 20px;
}

.logintxt {
    color: #141414;
    margin-bottom: 20px;
}

.lg input {
    width: 100%;
    padding: 10px;
    background-color: #383838;
    color: white;
    border-radius: 5px;
}

.header{
    text-align: center;

}

#formulario_mural{
    color: rgb(228, 228, 255);
}