
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #5bbdff, #b746e3);
    color: #333;
    padding: 20px;
    display: flex;
    justify-content: center;
}

#main {
    background-color: #fff;
    max-width: 700px;
    width: 100%;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

header h1 {
    text-align: center;
    color: #1f8fcb;
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

#formulario_mural form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#formulario_mural label {
    font-weight: 600;
    color: #2292b5;
    margin-bottom: 5px;
}

#formulario_mural input[type="text"],
#formulario_mural input[type="email"],


#formulario_mural input[type="text"]:focus,
#formulario_mural input[type="email"]:focus,



.btn {
    background-color: #2a75d8;
    padding: 12px;
    color: white;
    border-radius: 8px;
}

.btn:hover {
    background-color: #4478ad;
}


#mural_de_pedidos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pedido {
    border-left: 5px solid #1e7ec3;
    background: #f9f7fb;
    padding: 15px 20px;
    border-radius: 8px;
}

.pedido-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.pedido-header h2 {
    color: #1b419a;
    font-size: 1.3rem;
}

.pedido-header .email {
    font-size: 0.85rem;
    color: #777;
    font-style: italic;
}



.id {
    display: block;
    margin-top: 10px;
    font-size: 0.75rem;
    color: #aaa;
    text-align: right;
}


.nenhum-pedido {
    text-align: center;
    color: #999;
    padding: 20px;
    background: #f0e6f7;
    border-radius: 8px;
}


footer {
    text-align: center;
    color: #3d88c1;
    border-top: 1px solid #eee;
    padding-top: 15px;
}
