body {
    background-color: #bee9ff !important;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.login-container {
    text-align: center;
    padding: 20px;
}

.logintxt {
    color: #141414;
    margin-bottom: 20px;
}

.lg input {
    width: 100%;
    padding: 10px;
    background-color: #383838;
    color: rgb(241, 241, 241);
    border-radius: 5px;
}

#header{
    text-align: center;
    color: rgb(34, 34, 34);
}

.editar{
    color: green;

}

.excluir{
    color: red;
}

#formulario_muraal{ 
    display: flex;
    justify-content: center;
    align-items: center; 
    color: rgb(50, 50, 50);
}